<div>
  <h2>Shifts Calculator</h2>

  <!-- START Shifts input form -->
  <form [formGroup]="shiftForm" (ngSubmit)="calculateShift()">
    <div class="form-row">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
<!--      <div *ngIf="shiftForm.get('name').invalid && shiftForm.get('name').touched" class="error-message">-->
<!--        <span *ngIf="shiftForm.get('name').errors?.['required']">Name is required.</span>-->
<!--      </div>-->
    </div>

    <div class="form-row">
      <label for="year">Year:</label>
      <input type="number" id="year" formControlName="year">
<!--      <div *ngIf="shiftForm.get('year').invalid && shiftForm.get('year').touched" class="error-message">-->
<!--        <span *ngIf="shiftForm.get('year').errors?.['required']">Year is required.</span>-->
<!--      </div>-->
    </div>

    <div class="form-row">
      <label for="startHour">Start Hour:</label>
      <input type="time" id="startHour" formControlName="startHour">
<!--      <div *ngIf="shiftForm.get('startHour').invalid && shiftForm.get('startHour').touched" class="error-message">-->
<!--        <span *ngIf="shiftForm.get('startHour').errors?.['required']">Start Hour is required.</span>-->
<!--      </div>-->
    </div>

    <div class="form-row">
      <label for="endHour">End Hour:</label>
      <input type="time" id="endHour" formControlName="endHour">
<!--      <div *ngIf="shiftForm.get('endHour').invalid && shiftForm.get('endHour').touched" class="error-message">-->
<!--        <span *ngIf="shiftForm.get('endHour').errors?.['required']">End Hour is required.</span>-->
<!--        <span *ngIf="shiftForm.get('endHour').errors?.['beforeStartHour']">End Hour cannot be before Start Hour.</span>-->
<!--      </div>-->
    </div>

    <div class="form-row">
      <label for="hourlyRate">Hourly Rate:</label>
      <input type="number" id="hourlyRate" formControlName="hourlyRate">
<!--      <div *ngIf="shiftForm.get('hourlyRate').invalid && shiftForm.get('hourlyRate').touched" class="error-message">-->
<!--        <span *ngIf="shiftForm.get('hourlyRate').errors?.['required']">Hourly Rate is required.</span>-->
<!--      </div>-->
    </div>

    <button type="submit" [disabled]="shiftForm.invalid">Calculate</button>
  </form>

  <!-- END Shifts input form -->

<div *ngIf="shifts.length > 0">
    <h3>Previous Shifts:</h3>
    <ul>
      <li *ngFor="let shift of shifts">
        Name: {{ shift.name }} | Year: {{ shift.year }} | Start Hour: {{ shift.startHour }} | End Hour: {{ shift.endHour }} | Duration: {{ shift.duration }} hours | Hourly Rate: {{ shift.hourlyRate }} | Salary By Day: {{ shift.salaryByDay }}
      </li>
    </ul>
    <h3>Total Salary:</h3>
    <div>
      <label for="totalSalaryByDay">Total Salary:</label>
      <input type="text" id="totalSalaryByDay" name="totalSalaryByDay" value="{{ calculateTotalSalaryByDay() }}" readonly>
    </div>
  </div>
</div>

