  <fd-layout-panel>
    <fd-layout-panel-header>
      <fd-layout-panel-head>
        <h5 fd-layout-panel-title>Shifts Calculator</h5>
        <fd-layout-panel-description>Description</fd-layout-panel-description>
      </fd-layout-panel-head>
      <fd-layout-panel-actions> Actions </fd-layout-panel-actions>
    </fd-layout-panel-header>
    <fd-layout-panel-body> <!-- START Shifts input form -->
      <form fd-form [formGroup]="shiftForm" (ngSubmit)="calculateShift()">

        <div class="form-row">
          <label fd-form-label for="name">Name:</label>
          <input fd-form-control type="text" id="name" formControlName="name">
        </div>

        <div class="form-row">
          <label fd-form-label for="year">Year:</label>
          <input fd-form-control type="number" id="year" formControlName="year">
        </div>

        <div class="form-row">
          <div class="m-w-2">
          <label fd-form-label   for="startHour">Start Hour:</label>
          <input fd-form-control type="time" id="startHour" formControlName="startHour">
          </div>

          <div class="m-w-2">
          <label fd-form-label class="m-w-2" for="endHour">End Hour:</label>
          <input fd-form-control type="time" id="endHour" formControlName="endHour">
          </div>
        </div>


        <div class="form-row">
          <label fd-form-label for="hourlyRate">Hourly Rate:</label>
          <input fd-form-control type="number" id="hourlyRate" formControlName="hourlyRate">
        </div>

        <button fd-button type="submit" [disabled]="shiftForm.invalid">Calculate</button>
      </form>
      <!-- END Shifts input form -->
    </fd-layout-panel-body>
    <fd-layout-panel-footer>
      <div *ngIf="shifts.length > 0">
        <button fd-button (click)="exportTableToPDF()">Export to PDF</button>

        <h4>Previous Shifts:</h4>
        <table fd-table aria-label="With Toolbar"  fdType="transparent"  #shiftsTable>
          <thead fd-table-head>
          <tr fd-table-row>
            <th fd-table-cell>Name</th>
            <th fd-table-cell>Year</th>
            <th fd-table-cell>Start Hour</th>
            <th fd-table-cell>End Hour</th>
            <th fd-table-cell>Duration</th>
            <th fd-table-cell>Hourly Rate</th>
            <th fd-table-cell>Salary By Day</th>
          </tr>
          </thead>
          <tbody fd-table-body>
          <tr fd-table-row *ngFor="let shift of shifts">
            <td fd-table-cell>{{ shift.name }}</td>
            <td fd-table-cell>{{ shift.year }}</td>
            <td fd-table-cell>{{ shift.startHour }}</td>
            <td fd-table-cell>{{ shift.endHour }}</td>
            <td fd-table-cell>{{ shift.duration }} hours</td>
            <td fd-table-cell>{{ shift.hourlyRate }}</td>
            <td fd-table-cell>{{ shift.salaryByDay }}</td>
          </tr>
          </tbody>
        </table>

        <h3>Total Salary:</h3>
        <div>
          <label fd-form-label for="totalSalaryByDay">Total Salary:</label>
          <input fd-input type="text" id="totalSalaryByDay" name="totalSalaryByDay" value="{{ calculateTotalSalaryByDay() }}" readonly>
        </div>
      </div>
    </fd-layout-panel-footer>
  </fd-layout-panel>

